* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow:hidden;
}

#btn-game {
    margin-bottom: 30px;
}

h1 {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.button {
    display: flex;
    padding: 0.3em 1.2em;
    margin: 0.2em auto;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    background-color: #f14e4e;
    cursor: pointer;
}

.button:hover {
    border-color: rgba(255, 255, 255, 1);
}

img::-moz-selection {
    background-color: transparent;
    color: #000;
}

.swal-overlay {
    background-color: rgba(54, 1, 47, 0.397);
  }

.swal-modal {
background-color: rgb(44, 146, 206);
border: 3px solid white;
}

#score {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#background {
    background-image: url('../images/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#mainleft {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    padding: 25px;
}

#mainright {
    flex-direction: column;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#border {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.678);
    background-color: rgba(0, 0, 0, 0.356);
}

img {
    width: 100%;
    height: 100%;
}

#div-mood {
    display: flex;
    justify-content: center;
    height: 125px;
    width: 125px;
    z-index: 100;
}

#div-baby {
    display: flex;
    padding-bottom: 35px;
    z-index: 100;
}

#actions {
    display: flex;
    flex-direction: column;
}

/*  Zoom  */
.child {
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.child:hover,
.child:focus {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

/* Fade In */
.fl-fade-in {
    animation: fl-fade-in 1s ease-out;
    -webkit-animation: fl-fade-in 1s ease-out;
    -moz-animation: fl-fade-in 1s ease-out;
}

@keyframes fl-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fl-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fl-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* Progress Bar */
.progress {
    display: flex;
    background-color: rgba(167, 144, 144, 0.582);
    border: 2px solid rgba(126, 117, 126, 0.8);
}

.progress-bar-danger {
    animation: bar-fill 10s;
    display: block;
    background: linear-gradient(to right, rgb(0, 117, 35) 0%, rgb(204, 0, 0) 51%, rgb(233, 0, 0) 100%);
    background-size: 200% auto;
    transition: 0.5s;
}

@keyframes bar-fill {
    0% {
        width: 0;
    }
}

@-o-keyframes bar-fill {
    0% {
        width: 0;
    }
}

/* Media Queries */

@media only screen and (max-width: 1024px) {

    #main {
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    
    #mainright {
        padding: 10px;
    }
}